<div class="banner">
  <div class="banner__inner">
    <div class="banner__message">
      <span class="banner__star-badge">
        <span class="material-symbols-outlined banner__star-icon">stars</span>
      </span>
      <span class="banner__text">موسم العمرة الكبرى 1446هـ | 50 باقة لشخصين مع بنك المشرق مصر</span>
    </div>
    <div class="banner__meta">
      <div class="banner__deadline">
        <span class="material-symbols-outlined banner__clock-icon">schedule</span>
        <span>ينتهي التسجيل للسحب الأول: 30 أبريل 2025</span>
      </div>
      <div class="banner__license">
        <span>ترخيص وزارة التضامن رقم 412/2025</span>
      </div>
    </div>
  </div>
</div>
